<h1><%= @athlete.id ? 'Edit Athlete' : 'New  Athlete' %></h1>
<hr />
<%= form_for @athlete do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, required: true, autofocus: true %>
  
  <%= f.label :last_name %>
  <%= f.text_field :last_name, required: true, autofocus: true %>
  
  <%= f.label :sport %>
  <%= f.text_field :sport, required: true, autofocus: true %>
  
  <%= f.submit class:"waves-effect waves-light btn" %>
<% end %>