<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>
<hr />
<%= link_to "Add Athletes", new_athlete_path %>
<h3>Your Athletes</h3>
<ul>
  <% @athletes.each do |athlete| %>
    <li>
      # <%= athlete.first_name %> <%= athlete.last_name %> - <%= athlete.sport %>
     
    </li>
  <% end %>
</ul>